

<h1>Projects <button type="button" class="btn btn-success btn-xs">New</button></h1>
<!-- Projects -->




<div class="media">
  <!-- <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div> -->
  <div class="media-body">
    <h4 class="media-heading"><%= "project.name" %>
      <a  class="btn btn-primary btn-xs" href="/project/show.html">show</a>
      <button type="button" class="btn btn-danger btn-xs">delete</button>
    </h4>
    <%= "project.date" %><br>
    <%= "project.description" %>
  </div>
</div>
<!-- New project -->
