
  <button type="button" class="btn btn-success btn-xs">New Paperedit</button>
<h2>Paperedits</h2>
<% jhb = [1,2,3] %>
<% for p in jhb  %>
<%= p %>
 <% endfor %>
<div class="media">
  <!-- <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div> -->
  <div class="media-body">
    <h4 class="media-heading"><%= "JSON.stringify(p.name)" %>
      <a  class="btn btn-primary btn-xs" href="/paperedit/show.html">show</a>
      <button type="button" class="btn btn-danger btn-xs">delete</button>
    </h4>
    <%= "p.description" %>
  </div>
</div>
<!-- New project -->

 <% "endfor" %>
