<!DOCTYPE html>
<html>
  <head>
    <%- partial ('partials/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- partial ('partials/navbar.ejs') %>
      <%- body %>
    </div><!-- end container -->
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  <%- partial ('partials/client_side_js.ejs') %>
  </body>
</html>
